<img class="home m-3">
<h1>{{ title }}</h1>


<div class="contenedor">
  <div class="m-4">
    <div class="text mt-2">
      Busca tu ciudad:
    </div>
    <div class="input-group mt-2">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01"><strong>País</strong></label>
      </div>
      <select class="custom-select" id="id2" [(ngModel)]="pais">
        <option *ngFor="let i of paises">{{i}}</option>
      </select>
    </div>

    <div *ngIf="pais == 'Argentina'">
      <div class="input-group mt-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01"><strong>Provincia</strong></label>
        </div>
        <select class="custom-select" id="inputGroupSelect01" (change)="onChangeVal($event.target.value)"
                *ngIf="pais == 'Argentina'">
          <option *ngFor="let i of pro"> {{i.state}}</option>
        </select>
      </div>
    </div>

    <div class="text mt-5">
      Introduce el nombre de tu ciudad:
    </div>


    <div class="input-group mt-2">
      <input type="text" class="form-control" placeholder="El nombre de tu ciudad" aria-label="Recipient's username"
             aria-describedby="basic-addon2" [(ngModel)]=ciudadIngresada>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="getDatosCiudad()"><strong>Buscar</strong>
        </button>
      </div>
    </div>

  </div>
</div>

<div class="contenedor">
  <div class="card bg-light m-5" *ngIf="datos.id">
    <div class="card-header blockquote text-center"><strong><img class="" width="50px"
                                                                 src="https://openweathermap.org/img/w/{{datos.climaWeather.icon}}.png">{{datos.name}},
      {{datos.climaSys.country}} <img class="" width="20px"
                                      src="http://openweathermap.org/images/flags/{{datos.climaSys.country.toLocaleLowerCase()}}.png">
    </strong>
      <br>
      {{datos.climaWeather.description}}
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><strong>Temperatura Actual: </strong> {{datos.climaMain.temp | number:'1.2-2'}} °C
      </li>
      <li class="list-group-item"><strong>Temp Max:</strong> {{datos.climaMain.temp_max | number:'1.2-2'}}
        °C <strong>Temp Min: </strong> {{datos.climaMain.temp_min | number:'1.2-2'}}
        °C
      </li>
      <li class="list-group-item"><strong>Presión: </strong> {{datos.climaMain.pressure | number:'1.0-0'}} hPa</li>
      <li class="list-group-item"><strong>Humedad: </strong> {{datos.climaMain.humidity | number:'1.0-0'}} %</li>
    </ul>
  </div>
</div>
